body {
  background-image: url(../../assets/Images/wallp-day.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.home-content-box {
position: relative;
    
  margin-top: 16px;
  gap: 10px;
  
  width: 1600px;
  height: 750px;
  background-image: url(../../assets/Images/wall-frent-day.png);
  margin: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 24px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  padding: 32px;
  box-sizing: border-box;
  color: black;
}

.home-content-box:hover {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
    transform: scale(1.01);
    transition: all 0.5s ease-in-out;
}

.header-background {

    display: flex;
    justify-content: center;
}

.custom-header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: rgba(226, 226, 226, 0.726);
    border-radius: 40px;
    padding: 14px 30px;
    display: flex;
    align-items: center;
    gap: 16px;
    width: 1450.7px;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}





.bar-link {
    color: #000;
    text-decoration: none;
    background-color: #ffffff;
    padding: 8px 20px;
    border-radius: 20px;
    min-width: 250px;
    text-align: center;
    transition: background-color 0.3s;
}

.bar-link a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.bar-link:hover {
    background-color: aquamarine;
    color: #000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: all 0.3s ease;


}

.dot {
    width: 7px;
    height: 7px;
    background-color: #ffffff;
    border-radius: 50%;
}

.dot_home{
   
    background-color: #ff0000;
    border-radius: 50%;
}

.dot:hover {
    background-color: aquamarine;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.15);
    transition: all 0.3s ease;
}

